:root {
    --main-color:#8e0000;
    font-family:Ubuntu, sans-serif;
    }
    
body {
    background-color:#fafafa;
    margin:0;
    }
    
ul {
    margin:0;
    padding:0;
    }
    
input {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    }
    
button {
    background:#8e0000;
    border:none;
    border-radius:15px;
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color:#fff;
    cursor:pointer;
    font-family:Ubuntu, sans-serif;
    font-weight:500;
    height:2rem;
    margin-left:.5rem;
    overflow:hidden;
    padding:.5rem;
    width:6rem;
    }
    
.topnav {
    align-items:center;
    background-color:#8e0000;
    box-sizing:border-box;
    color:#fff;
    display:flex;
    flex-flow:row nowrap;
    font-size:1.5rem;
    font-weight:400;
    height:50px;
    justify-content:space-between;
    padding:1rem;
    position:sticky;
    top:0;
    width:auto;
    z-index:99;
    }
    
#openButton,
#openButton:visited,
#openButton:active,
#openButton:hover {
    box-sizing:border-box;
    color:#fff;
    display:block;
    font-size:1.5rem;
    padding:0 .875rem;
    text-decoration:none;
    }
    
.sidemenu {
    background-color:#fff;
    box-sizing:border-box;
    color:#333;
    font-size:.875rem;
    font-weight:700;
    height:calc(100% - 50px);
    max-width:75%;
    overflow:auto;
    padding:.5rem 1rem 1rem;
    position:fixed;
    right:0;
    transition:width 500ms, visibility 500ms;
    visibility:hidden;
    white-space:nowrap;
    width:0;
    z-index:98;
    }
    
.sidemenu > p {
    color:#999;
    margin:1rem 0 0;
    }
    
.sidemenu ul {
    margin-top:1rem;
    }
    
.sidemenu li {
    border-left:0 solid #8e0000;
    cursor:pointer;
    list-style-type:none;
    padding:1rem;
    transition:border-left 500ms;
    }
    
.sidemenu li:hover {
    border-left:15px solid #c62828;
    color:#c62828;
    }
    
.sidemenu li a {
    color:inherit;
    text-decoration:none;
    }
    
.sidemenu button {
    margin:0;
    padding:0 1rem;
    width:auto;
    }
    
#close-menu-button {
    color:#c62828;
    font-size:2rem;
    font-weight:700;
    text-decoration:none;
    }
    
.settings li:hover {
    border-left:none;
    color:#333;
    }
    
.switch {
    display:inline-block;
    height:18px;
    position:relative;
    width:36px;
    }
    
.switch input {
    height:0;
    opacity:0;
    width:0;
    }
    
.slider {
    background-color:#999;
    border-radius:34px;
    bottom:0;
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor:pointer;
    left:0;
    position:absolute;
    right:0;
    top:0;
    transition:background-color 500ms;
    }
    
.slider:before {
    background-color:#333;
    border-radius:50%;
    bottom:-1px;
    content:"";
    height:20px;
    left:0;
    position:absolute;
    transition:background-color 500ms, transform 500ms;
    width:20px;
    }
    
input:checked + .slider {
    background-color:#c62828;
    }
    
input:checked + .slider:before {
    background-color:#8e0000;
    transform:translateX(16px);
    }
    
input:focus + .slider {
    outline:2px solid #000;
    }
    
.open-menu {
    visibility:visible;
    width:300px;
    }
    
.popup-menu {
    align-items:center;
    background:rgba(0,0,0,0.8);
    display:none;
    height:100vh;
    justify-content:center;
    left:0;
    position:fixed;
    top:0;
    visibility:hidden;
    width:100vw;
    z-index:100;
    }
    
.check-list {
    margin:1rem 0 0;
    }
    
.check-list li {
    list-style:none;
    margin:.5rem 0;
    }
    
.check-list input {
    appearance:revert;
    }
    
.menu-dialog {
    align-items:center;
    background:#fff;
    border-radius:5px;
    display:flex;
    flex-flow:column;
    font-size:.875rem;
    height:auto;
    justify-content:space-between;
    max-width:500px;
    overflow:auto;
    padding:2rem 1rem;
    width:80%;
    }
    
.menu-dialog>div:first-child {
    font-size:1rem;
    font-weight:700;
    margin:0 0 2rem;
    }
    
.menu-dialog button {
    margin:2rem .5rem 0;
    }
    
.display-dialog {
    display:flex;
    visibility:visible;
    }
    
.bg-overlay {
    background-color:#000;
    height:100%;
    opacity:0;
    position:fixed;
    transition:opacity 1s, visibility 1s;
    visibility:hidden;
    width:100%;
    z-index:97;
    }
    
.bg-overlay-open {
    opacity:0.7;
    visibility:visible;
    }
    
.bgc-wrapper {
    background:#c62828;
    }
    
.width-wrapper {
    margin:0 auto;
    width:90%;
    }
    
.info-wrapper {
    align-items:center;
    display:flex;
    flex-flow:column nowrap;
    }
    
.pkmncount {
    align-items:center;
    display:flex;
    flex-direction:column;
    font-family:Ubuntu, sans-serif;
    margin:2em 0;
    }
    
.pkmncount>p {
    color:#ffcdd2;
    font-weight:700;
    margin-bottom:0;
    }
    
#topCount {
    color:#fff;
    font-size:3em;
    }
    
.filter-group {
    margin:2em 0;
    }
    
.filterButtons {
    display:flex;
    margin:2rem 0;
    padding:0;
    }
    
.filterButtons button {
    display:none;
    }
    
.filterButtons div>button {
    display:block;
    }
    
.filter-menu {
    background-color:#fff;
    border-radius:10px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display:none;
    font-size:.875rem;
    font-weight:500;
    margin-top:5px;
    overflow:hidden;
    padding:1rem 0;
    position:absolute;
    visibility:hidden;
    width:auto;
    z-index:10;
    }
    
.filter-menu div {
    cursor:pointer;
    padding:.5rem 2rem;
    }
    
.option-menu {
    background-color:#fff;
    border-radius:10px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display:none;
    font-size:.875rem;
    font-weight:500;
    left:10px;
    margin-top:5px;
    padding:1rem;
    position:absolute;
    right:10px;
    visibility:hidden;
    width:auto;
    z-index:10;
    }
    
.option-menu>div {
    cursor:pointer;
    padding:.5rem 1rem;
    }
    
.option-menu>div:last-child {
    cursor:initial;
    }
    
.option-menu>div>div {
    padding:1rem 0 0;
    }
    
.option-menu>div:last-child:hover,.option-menu>div:active {
    background-color:inherit;
    color:inherit;
    }
    
.option-menu input[type="number"] {
    background-color:#fff;
    border:none;
    border-radius:20px;
    margin-left:2px;
    padding:.5rem;
    width:3rem;
    }
    
.option-menu input[type="number"]:focus {
    background-color:#eee;
    }
    
.option-menu button {
    background:#8e0000;
    border:none;
    border-radius:15px;
    color:#fff;
    font-family:Ubuntu, sans-serif;
    font-weight:500;
    height:2rem;
    margin-left:.5rem;
    overflow:hidden;
    padding:.5rem;
    width:4rem;
    }
    
.mark-range {
    display:none;
    visibility:hidden;
    }
    
.open-drop-down {
    display:block;
    visibility:visible;
    }
    
.search {
    display:flex;
    flex:1;
    margin:1rem;
    padding-bottom:2rem;
    }
    
.search input[type=search] {
    background:#fff;
    border:none;
    border-radius:15px 0 0 15px;
    color:#333;
    flex:1;
    margin:0;
    min-width:8.5rem;
    padding:.5rem;
    width:100%;
    }
    
.search input[type=search]:focus {
    background-color:#ffcdd2;
    border:none;
    outline:none;
    }
    
.search input[type=button] {
    background:#8e0000;
    border:none;
    border-radius:0 15px 15px 0;
    color:#fff;
    cursor:pointer;
    font-family:Ubuntu, sans-serif;
    padding:.5rem;
    width:6rem;
    }
    
.grid-wrapper {
    background-color:#fafafa;
    border-radius:15px 15px 0 0;
    min-height:calc(100vh-150px);
    padding:2rem 5%;
    width:auto;
    }
    
.results {
    display:flex;
    font-size:.875rem;
    font-weight:700;
    justify-content:center;
    line-height:200%;
    }
    
#pkmnGrid {
    display:grid;
    font-size:.875rem;
    gap:15px;
    grid-template-columns:repeat(auto-fill,minmax(135px,1fr));
    margin-top:1rem;
    width:100%;
    }
    
.pkmnBox {
    align-items:center;
    background-color:#fff;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-sizing:border-box;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:center;
    overflow:hidden;
    position:relative;
    transition:box-shadow 500ms, background-color 1s;
    width:100%;
    }
    
.pkmnBox:focus {
    box-shadow:0 0 0 3px #c62828, 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    outline:none;
    }
    
.pkmnBox::before {
    content:"";
    display:block;
    padding-bottom:100%;
    width:1px;
    }
    
.pkmnBoxCont {
    align-items:center;
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    }
    
.pkmnBox p {
    color:#333;
    margin:1rem 0;
    }
    
.pkmnBox img {
    margin:-1rem auto 0;
    opacity:1;
    transition:opacity 500ms;
    }
    
.caught {
    background-color:#ccc;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    
.caught img {
    opacity:0.5;
    }
    
.bottom-nav {
    align-items:center;
    display:flex;
    flex-flow:column;
    font-size:.75rem;
    justify-content:center;
    padding:2rem 1rem;
    width:auto;
    }
    
.bottom-nav>div {
    margin:.25rem;
    }
    
.bottom-links {
    display:flex;
    flex-flow:row;
    }
    
.bottom-links a {
    color:#8e0000;
    display:block;
    font-weight:500;
    padding:0 1rem;
    text-decoration:none;
    }
    
.bottom-info {
    display:flex;
    flex-flow:column;
    }
    
.bottom-info>div {
    padding:0 .25rem;
    text-align:center;
    }
    
.scroll-btn {
    align-items:center;
    background:#8e0000;
    border-radius:100%;
    bottom:10px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-sizing:border-box;
    color:#fff;
    cursor:pointer;
    display:flex;
    font-size:.75rem;
    height:4rem;
    margin:0;
    opacity:0;
    padding:.5rem;
    position:fixed;
    right:10px;
    text-align:center;
    transition:visibility 500ms, opacity 500ms;
    visibility:hidden;
    width:4rem;
    }
    
.show {
    opacity:1;
    visibility:visible;
    }
    
p,.logo p {
    margin:0;
    }
    
.logo,#range-input {
    align-items:center;
    display:flex;
    flex-flow:row nowrap;
    }
    
.sidemenu li a:hover,.bottom-links a:hover {
    color:#c62828;
    }
    
.filter-menu div:hover,.filter-menu div:active,.option-menu>div:hover,.option-menu>div:active {
    background-color:#eee;
    color:#c62828;
    }
    
.option-menu input,.search input {
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    
 @media screen and (min-width: 768px ){
    .pkmncount {
        align-items:flex-start;
    }
    
    .filterButtons button {
        display:block;
    }
    
    .filterButtons>div:first-child {
        display:none;
    }
    
    .info-wrapper {
        align-items:flex-end;
        flex-flow:row nowrap;
        justify-content:space-between;
    }
    
    .option-menu {
        left:initial;
        width:250px;
    }
    
    .results {
        justify-content:flex-start;
    }
    
    #pkmnGrid {
        font-size:1rem;
        grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
    }
    
    .bottom-nav,.bottom-info {
        flex-flow:row;
    }
}